.center{
    margin-left: 45%;
    margin-right: 44%;
    margin-bottom: 40px;
    margin-top: 40px;
}
form{
    margin-left: 30%;
    margin-right: 30%;
}


/*response ajax*/
.registered{
    text-align: center;
}